
.search-results-page {
  padding: 20px 5%;
  background-color: #f0f2f5;
  min-height: 100vh;
  box-sizing: border-box;
}

.loading {
  text-align: center;
  font-size: 22px;
  color: #555; 
  margin-top: 100px;
  font-weight: 500;
}
